[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
pandas = "*"
numpy = "*"
ipykernel = "*"
lxml = "*"
geocoder = "*"
scikit-learn = "*"
folium = "*"
matplotlib = "*"
scipy = "*"
geopy = "*"

[requires]
python_version = "3.7"
